body {
    background: linear-gradient(180deg, #c4f0ee, #69aca8);
    background-color: #c4f0ee;
    margin: 10% 10%;
    letter-spacing: -1px;
}

.container {
  display: grid;
  /* grid-template-rows: 75px 75px 100px 100px; */
  /* grid-template-rows: repeat(auto-fill, minmax(100px, fr)); */
  grid-template-areas: 
  "header"
  "description"
  "links";
  gap: 20px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgb(51, 51, 51);
}

.header {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0 15px 0 15px;
  line-height: 1.25;
}

.intro {
  /* font-family: 'Sacramento', cursive; */
  color: darkgrey;
  /* font-size: 4.5rem; */
  font-size: 4.5rem;
  font-weight: 600;
}

.intro1 {
  display: grid;
  align-content: flex-end;
}

.description {
  margin: 10px 0 20px 0;
  padding: 0 15px 0 15px;
  grid-area: description;
  font-size: 20px;
  font-weight: 200;
}

name {
  color: black;
}

.links {
  display: grid;
  grid-area: links;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px;
  justify-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.link {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  font-size: 30px;
  color: #69aca8;
}

.link:hover {
  color: #c4f0ee;
}

.link i {
  padding: 5px;
}

.link p {
  margin: 0;
  padding: 0 5px 5px 5px;
  color: black;
  font-size: 15px;
  font-weight: 100;
}

@media (max-width: 500px) {
    body {
      background: linear-gradient(180deg, #f0c4ec, #ac6998);
      background-color: #f0c4ec;
    }

    .intro {
      font-size: 2.5rem;
    }

    .description {
      line-height: 1.15;
    }

    .link {
      margin: 10px;
    }

    .link {
      color: #ac6998;
    }

    .link:hover {
      color: #f0c4ec;
    }
}
